<!DOCTYPE html>
{% extends "navbar.html"%}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action="{{url_for('login')}}" method="POST">
					<span class="login100-form-title p-b-51">
						ورود
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							ورود
						</button>
					</div>

					<div>
						</br>
						<a href="/signup" class="text-primary">
							ثبت نام
						</a>
					</div>

					<div class="text-center">
						<br>
						{% if error %}
							{{ error }}
						{% endif %}
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
</body>
</html>
{% endblock %}